.Results h2{
    font-family: "DotGothic16";
    font-size: 40px;
    color: #99CEEB;
}
.Meaning h3{
    font-family: "DotGothic16";
    font-size: 30px;
    color: #99CEEB;
}
.Meaning strong{
    color: #99CEEB;
}